<script setup lang="ts"></script>

<template>
  <div class="wrapper" id="req_app">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Request Management App</h3>
      </div>
      <ul class="list-unstyled components">
        <li><router-link to="/"> Requests</router-link></li>
        <li><router-link to="/approved"> Approved Requests</router-link></li>
        <li><router-link to="/new"> New Request</router-link></li>
      </ul>
    </nav>
    <!-- Page Content  -->
    <div id="content">
      <router-view></router-view>
    </div>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
